<div class="log_in_content">
  <form action="/log-in" method="post">
    <div class="input_container">
      <ul class="log_in_inputs">
        <li>
          <h3>Log in</h3>
        </li>
        <li>
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" required />
        </li>
        <li>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required />
        </li>
        <li>
          <p class="sign_up_label">
            Don't have account? create account <a href="/">here</a>.
          </p>
        </li>
        <li>
          <button class="log_in" type="submit">Sign In</button>
        </li>
      </ul>
    </div>
  </form>
</div>
