<dialog class="upload_file_container">
  <form action="/upload-file" enctype="multipart/form-data" method="post">
    <div class="upload_file_inputs">
      <ul>
        <li>
          <label for="upload_file">Choose file: </label
          ><input type="file" id="upload_file" name="upload_file" />
        </li>
        <li>
          <button class="close_file_upload" type="reset">Close</button
          ><button type="submit" class="btn_uplo">Upload</button>
        </li>
      </ul>
    </div>
  </form>
</dialog>
