<div class="user_file">
  <% if (currentUser.userFile.length > 0) { %>
  <h4>Files</h4>
  <% } %>
  <!--render the user file  -->
  <% currentUser.userFile.map(({ id, name }) => { %>
  <div class="file_info">
    <div class="file_name"><%= name %></div>
  </div>
  <% }) %>
</div>
